@model DesafioTJRJ.UI.ViewModels.AssuntoViewModel

@{
    ViewData["Title"] = "Editar Assunto";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-8">

        <form asp-action="Editar">

            <input type="hidden" asp-for="CodAs" />
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="form-group text-right">
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}