@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desafio TJ-RJ</h1>
    <p>Desafio implementado por <a href="https://www.linkedin.com/in/rafael-berqu%C3%B3-46836a23/">Rafael Ferreira Berquó</a>.</p>
</div>
